h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

.full-width {
  width: 100%;
}

/* 右边栏 */
.content {
  flex: 2;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.status {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: left;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 0 5rem 2rem 0;
  padding: .5rem 2rem 1rem 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}
